/ucastnici/O_Kutil/.venv/*
/ucastnici/O_Kutil/okutil_log.log
/ucastnici/O_Kutil/__pycache__/
/ucastnici/O_Kutil/tests/__pycache__/
ucastnici/O_Kutil/.pytest_cache/
ucastnici/O_Kutil/screenshots/
/ucastnici/O_Kutil/tests/test_log.log
ucastnici/Antonin/my_log.log
/ucastnici/zu_pri/test_logs.log
/ucastnici/Antonin/Assets/__pycache__
ucastnici/Antonin/__pycache__/test_checkout_v3.cpython-313.pyc
ucastnici/Antonin/myLogFile.log
/ucastnici/zu_pri/HW_07/__pycache__/tests.cpython-313.pyc
/ucastnici/zu_pri/HW_07/PageObjects/__pycache__/Cart.cpython-313.pyc
/ucastnici/zu_pri/HW_07/PageObjects/__pycache__/Header.cpython-313.pyc
/ucastnici/zu_pri/HW_07/PageObjects/__pycache__/InventoryPage.cpython-313.pyc
/ucastnici/zu_pri/HW_07/PageObjects/__pycache__/LoginPage.cpython-313.pyc
/ucastnici/zu_pri/HW_07/test_logs.log
/ucastnici/zu_pri/HW_07/__pycache__/common.cpython-313.pyc
/ucastnici/zu_pri/HW_07/__pycache__/test_hw_07.cpython-313.pyc
/ucastnici/zu_pri/HW_07/__pycache__/TestData.cpython-313.pyc
/1_lektor_petr_kus/Allure/*
/1_lektor_petr_kus/__pycache__
/1_lektor_petr_kus/__pycache__/*
/1_lektor_petr_kus/log.html
/1_lektor_petr_kus/my_log.log
/1_lektor_petr_kus/output.xml
/1_lektor_petr_kus/report.html
/ucastnici/Antonin/__pycache__
/ucastnici/Antonin/final_tests/pytest/__pycache__
/ucastnici/Antonin/final_tests/robot_framework/__pycache__
ucastnici/Antonin/final_tests/robot_framework/browser/screenshot/robotframework-browser-screenshot-1.png
ucastnici/Antonin/final_tests/robot_framework/report.html
ucastnici/Antonin/final_tests/robot_framework/output.xml
ucastnici/Antonin/final_tests/robot_framework/playwright-log.txt
ucastnici/Antonin/final_tests/robot_framework/log.html
/ucastnici/O_Kutil/starsi_ukoly/ukol_7/__pycache__
/1_lektor_petr_kus/__pycache__
/1_lektor_petr_kus/__pycache__
/1_lektor_petr_kus/__pycache__/*
/ucastnici/Antonin/robot_framework/pom/__pycache__
/ucastnici/O_Kutil/starsi_ukoly/ukol_8/tests/__pycache__
/ucastnici/tomas_klucka/__pycache__
/ucastnici/Petr_Sistek/report/__pycache__
/ucastnici/OndrejKucera/__pycache__/*
/1_lektor_petr_kus/PageObejct/__pycache__/*
/1_lektor_petr_kus/__pycache__/*
/ucastnici/a_o/ukol7/__pycache__/*
/ucastnici/David_Halman/__pycache__/*
/ucastnici/O_Kutil/OOP/__pycache__/*
/ucastnici/Petr_Sistek/Final_project/__pycache__/*
/ucastnici/Petr_Sistek/Final_project/pytest_lib/tests/__pycache__/*
/ucastnici/zu_pri/__pycache__/*
/ucastnici/zu_pri/__pycache__/*
/ucastnici/zu_pri/HW_07/__pycache__/*
/ucastnici/zu_pri/HW_10_FINAL/RF/results/browser/screenshot/robotframework-browser-screenshot-5.png
/ucastnici/zu_pri/HW_10_FINAL/RF/results/browser/screenshot/robotframework-browser-screenshot-6.png
/ucastnici/zu_pri/HW_10_FINAL/RF/results/browser/screenshot/robotframework-browser-screenshot-7.png
/ucastnici/zu_pri/HW_10_FINAL/RF/results/browser/screenshot/robotframework-browser-screenshot-8.png
/ucastnici/zu_pri/HW_10_FINAL/RF/results/browser/screenshot/robotframework-browser-screenshot-9.png
/ucastnici/zu_pri/HW_10_FINAL/PyTest/PageObjects/__pycache__/__init__.cpython-313.pyc
/ucastnici/zu_pri/HW_10_FINAL/PyTest/PageObjects/__pycache__/Cart.cpython-313.pyc
/ucastnici/zu_pri/HW_10_FINAL/PyTest/PageObjects/__pycache__/Header.cpython-313.pyc
/ucastnici/zu_pri/HW_10_FINAL/PyTest/PageObjects/__pycache__/InventoryPage.cpython-313.pyc
/ucastnici/zu_pri/HW_10_FINAL/PyTest/PageObjects/__pycache__/LoginPage.cpython-313.pyc
/ucastnici/zu_pri/HW_10_FINAL/PyTest/__pycache__/__init__.cpython-313.pyc
/ucastnici/zu_pri/HW_10_FINAL/PyTest/__pycache__/common.cpython-313.pyc
/ucastnici/zu_pri/HW_10_FINAL/PyTest/__pycache__/conftest.cpython-313-pytest-8.3.3.pyc
/ucastnici/zu_pri/HW_10_FINAL/PyTest/__pycache__/TestData.cpython-313.pyc
/ucastnici/zu_pri/HW_10_FINAL/PyTest/Tests/__pycache__/__init__.cpython-313.pyc
/ucastnici/zu_pri/HW_10_FINAL/PyTest/Tests/__pycache__/test_001_login.cpython-313-pytest-8.3.3.pyc
/ucastnici/zu_pri/HW_10_FINAL/PyTest/Tests/__pycache__/test_002_add_item_and_remove.cpython-313-pytest-8.3.3.pyc
/ucastnici/zu_pri/HW_10_FINAL/PyTest/Tests/__pycache__/test_002_add_item_to_inventory.cpython-313-pytest-8.3.3.pyc
/ucastnici/zu_pri/HW_10_FINAL/PyTest/Tests/__pycache__/test_add_item_to_inventory.cpython-313-pytest-8.3.3.pyc
/ucastnici/zu_pri/HW_10_FINAL/PyTest/Tests/__pycache__/test_login.cpython-313-pytest-8.3.3.pyc
/ucastnici/zu_pri/HW_10_FINAL/PyTest/Tests/__pycache__/test_main.cpython-313-pytest-8.3.3.pyc
/ucastnici/zu_pri/HW_10_FINAL/RF/results/browser/screenshot/robotframework-browser-screenshot-1.png
/ucastnici/zu_pri/HW_10_FINAL/RF/results/browser/screenshot/robotframework-browser-screenshot-2.png
/ucastnici/zu_pri/HW_10_FINAL/RF/results/browser/screenshot/robotframework-browser-screenshot-3.png
/ucastnici/zu_pri/HW_10_FINAL/RF/results/browser/screenshot/robotframework-browser-screenshot-4.png
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
