/ucastnici/O_Kutil/.venv/*
/ucastnici/O_Kutil/okutil_log.log
ucastnici/Antonin/my_log.log
/ucastnici/zu_pri/test_logs.log
/ucastnici/Antonin/Assets/__pycache__
ucastnici/Antonin/__pycache__/test_checkout_v3.cpython-313.pyc
ucastnici/Antonin/myLogFile.log
