/ucastnici/O_Kutil/.venv/*
/ucastnici/O_Kutil/okutil_log.log
ucastnici/Antonin/my_log.log
/ucastnici/zu_pri/test_logs.log
/ucastnici/Antonin/Assets/__pycache__
ucastnici/Antonin/__pycache__/test_checkout_v3.cpython-313.pyc
ucastnici/Antonin/myLogFile.log
/ucastnici/zu_pri/HW_07/__pycache__/tests.cpython-313.pyc
/ucastnici/zu_pri/HW_07/PageObjects/__pycache__/Cart.cpython-313.pyc
/ucastnici/zu_pri/HW_07/PageObjects/__pycache__/Header.cpython-313.pyc
/ucastnici/zu_pri/HW_07/PageObjects/__pycache__/InventoryPage.cpython-313.pyc
/ucastnici/zu_pri/HW_07/PageObjects/__pycache__/LoginPage.cpython-313.pyc
/ucastnici/zu_pri/HW_07/test_logs.log
